[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/manu/Desktop/Trabajo]
row=6
col=0

[/home/manu/Desktop/DeepinScreenshot_Seleccionar área_20220421014834.png]
row=5
col=0

[D81C3DF61C3DCFEC]
row=1
col=0

[06321009320FFFFB]
row=0
col=0

[Papelera]
row=2
col=0

[/]
row=3
col=0

[/home/manu]
row=4
col=0

